# dependencies
/node_modules
/.pnp
.pnp.js

# coverage
/coverage

# build and tooling
/build
/.wrangler
/.vercel
wrangler.toml

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
.vercel
.env*.local
